.container {
	display: flex;
	margin: 10px 30px;
	gap: 15px;
}

.helpIcon {
	margin: 25px 0 0 -1px;
	padding-top: 5px;
	height: 50px;
	width: 50px;
}

.deleteIcon {
	margin-top: 30px;
	width: 55px;
}
