@import "../../../../themes/colors.module";

.assetCard {
	position: relative;
	height: 160px;
	margin: 4px 8px;
	overflow: visible;
	transition: linear 200ms;
	border-radius: 10px;

	.MuiCardMedia-root {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.assetCardTitleOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	color: white;
	padding: 8px;
	width: 90%;
	box-sizing: border-box;
}

.assetCardTitle {
	font-size: 1rem;
}

.priceTag {
	position: absolute;
	top: 8px;
	left: 0;
	margin-left: -2px;
	margin-top: -9px;
	background-color: $defaultPurple;
	color: white;
	padding: 4px 24px 4px 12px;
	clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 50%, 100% 100%, 0 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 26px;
	box-sizing: border-box;
	font-size: 50%;
	line-height: 0.5;
	border-top-left-radius: 5px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.videoLengthTag {
	position: absolute;
	bottom: 12px;
	right: 7px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 2px 6px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "monospace", monospace;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.1);
	z-index: 2;
}
