@import "../../../../themes/colors.module";

.assetCard {
	position: relative;
	height: 160px;
	overflow: hidden;
	margin: 4px 8px;

	.MuiCardMedia-root {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.assetCardTitleOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	color: white;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}

.assetCardTitle {
	font-size: 1rem;
}

.priceTag {
	position: absolute;
	top: 8px;
	right: 8px;
	background-color: $defaultPurple;
	color: black;
	padding: 4px 30px 4px 12px;
	clip-path: polygon(0% 0%, 100% 0%, 75% 50%, 100% 100%, 0% 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	box-sizing: border-box;
	font-size: 0.8rem;
	line-height: 1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	border-left: 1px solid rgba(0, 0, 0, 0.55);
}
