@import "../../../themes/breakpoints";


$smallerHeight: 35vh;
$largerHeight: 69vh;
$darkBackgroundColor: #01456e;
$lightBackgroundColor: #90caf9;

.outerContainer {
	height: $smallerHeight;

	@include breakpoint(small) {
		height: $largerHeight;
	}
}

.innerContainer {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: $smallerHeight;

	@include breakpoint(small) {
		height: $largerHeight;
	}
}

.background {
	z-index: -9;
	width: 100%;
	background-color: $lightBackgroundColor;
	height: $smallerHeight;

	@include breakpoint(small) {
		height: $largerHeight;
	}
}
.backgroundDark {
	background-color: $darkBackgroundColor;
}

.layer {
	position: inherit;
	width: auto;
	overflow: hidden;
	height: $smallerHeight;

	@include breakpoint(small) {
		height: $largerHeight;
	}
}


@keyframes fadeInOutFast {
	0% {
		opacity: 0.1;
	  }
	  10% {
		opacity: 0.5;
	  }
	  60% {
		opacity: 1;
	  }
	  66% {
		opacity: 0.5;
	  }
	  100% {
		opacity: 0.1;
	  }
}

.fadeInOutFast {
  animation: fadeInOutFast 8s linear infinite;
}

@keyframes fadeInOutSlow {
	0% {
	  opacity: 0.1;
	}
	5% {
	  opacity: 0.5;
	}
	80% {
	  opacity: 1;
	}
	85% {
	  opacity: 0.5;
	}
	100% {
	  opacity: 0.1;
	}
  }
  
  .fadeInOutSlow {
	animation: fadeInOutSlow 45s linear infinite;
  }

  @keyframes shootingStar {
	0% {
	  transform: translate(-200vh, -200vh);
	}
	100% {
	  transform: translate(200vh, 200vh);
	}
  }
  
  .shootingStar {
	animation-delay: 5s;
	animation: shootingStar 4s linear forwards;
  }

  @keyframes cloudLeftRightSlow {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
	
  }
  
  .cloudLeftRightSlow {
	animation: cloudLeftRightSlow 5000s infinite;
  }



  @keyframes cloudLeftRightFast {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  .cloudLeftRightFast {
	animation: cloudLeftRightFast 1500s infinite;
  }
  

  @keyframes trainLeftRight {
	0% {
	  transform: translateX(-3%);
	}
	50% {
	  transform: translateX(10%);
	}
	100% {
	  transform: translateX(-5%);
	}
  }
  
  .trainLeftRight {
	animation: trainLeftRight 50s infinite;
  }