@import "../../../themes/breakpoints";

$height: 35vh;
$darkBackgroundColor: #01456e;
$lightBackgroundColor: #90caf9;

.outerContainer {
	display: none;
	height: $height;

	@include breakpoint(medium) {
		display: block;
	}

	animation: 1s ease-in-out infinite;
}

.innerContainer {
	position: absolute;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: $height;

	@include breakpoint(medium) {
		display: flex;
	}
}

.background {
	display: none;
	z-index: -9;
	width: 100%;
	background-color: $lightBackgroundColor;
	height: $height;
	animation-delay: 500ms;
	transition: ease-in-out 1100ms;

	@include breakpoint(medium) {
		display: block;
	}
}
.backgroundDark {
	background-color: $darkBackgroundColor;
}

.layer {
	display: none;
	position: inherit;
	width: auto;
	overflow: hidden;
	height: $height;

	@include breakpoint(medium) {
		display: block;
	}
}

@keyframes fadeInOutFast {
	0% {
		opacity: 0.1;
	}
	10% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	66% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.1;
	}
}

.fadeInOutFast {
	animation: fadeInOutFast 8s ease-in-out infinite;
}

@keyframes fadeInOutSlow {
	0% {
		opacity: 0.1;
	}
	5% {
		opacity: 0.5;
	}
	80% {
		opacity: 1;
	}
	85% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.1;
	}
}

.fadeInOutSlow {
	animation: fadeInOutSlow 45s ease-in-out infinite;
}

@keyframes shootingStar {
	0% {
		transform: translate(-200vh, -200vh);
	}
	100% {
		transform: translate(200vh, 200vh);
	}
}

.shootingStar {
	animation-delay: 20s;
	animation: shootingStar 16s ease-in-out forwards;
}

@keyframes cloudLeftRightSlow {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.cloudLeftRightSlow {
	animation: cloudLeftRightSlow 5000s infinite;
}

@keyframes cloudLeftRightFast {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.cloudLeftRightFast {
	animation: cloudLeftRightFast 1500s infinite;
}

@keyframes trainLeftRight {
	0% {
		transform: translateX(-3%);
	}
	50% {
		transform: translateX(10%);
	}
	100% {
		transform: translateX(-5%);
	}
}

.trainLeftRight {
	animation: trainLeftRight 50s infinite;
}

@keyframes sunUp {
	0% {
		transform: translateY(20%);
	}
	100% {
		transform: translateX(0%);
	}
}

.sunUp {
	animation: sunUp 3s ease-in-out forwards;
}

@keyframes sunDown {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(20%);
	}
}

.sunDown {
	animation: sunDown 3s ease-in-out forwards;
}

@keyframes moonUp {
	0% {
		transform: translateY(50%);
	}
	100% {
		transform: translateX(0%);
	}
}

.moonUp {
	animation: moonUp 3s ease-in-out forwards;
}

@keyframes moonDown {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(50%);
	}
}

.moonDown {
	animation: moonDown 3s ease-in-out forwards;
}
