.outerContainer {
	height: 35vh;

	@media (min-width: 600px) {
		height: 69vh;
	}
}

.innerContainer {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 35vh;

	@media (min-width: 600px) {
		height: 69vh;
	}
}

.background {
	z-index: -9;
	width: 100%;
	background-color: #01579b;
	height: 35vh;

	@media (min-width: 600px) {
		height: 69vh;
	}
}

.layer {
	position: inherit;
	width: auto;
	overflow: hidden;
	height: 35vh;

	@media (min-width: 600px) {
		height: 69vh;
	}
}
