@import "../../themes/breakpoints";

.behindNav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	font-size: 1px;
}

.pageContainer {
	min-height: 100vh;
}

.filterContainer {
	display: flex;
	justify-content: center;
}

.filters {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: 100%;

	@include breakpoint(small) {
		margin: 0 35px;
	}

	@include breakpoint(medium) {
		width: 750px;
	}

	@include breakpoint(large) {
		margin: 0 10px;
		width: 100%;
	}
}

.gridContainer {
	justify-content: center;
}

.contentPageContainer {
	overflow: hidden;
}

.contentPage {
	margin: 0 auto;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateY(-100px);
}
