@import "../../../themes/breakpoints";
@import "../../../themes/colors.module.scss";

.container {
	position: relative;
	margin-bottom: 30px;
}

.columnWrapper {
	width: 100%;
	padding-right: 24px;

	@include breakpoint(small) {
		width: 175px;
		padding-right: 0;
	}
}

.title {
	cursor: pointer;
	margin-top: 45px;

	@include breakpoint(small) {
		margin-bottom: -7px;
	}

	@extend .defaultDarkBlueGradient;
}

.columnContainer {
	display: flex;
	flex-direction: row;

	@include breakpoint(small) {
		display: block;
	}
}

.column {
	width: 150px;
}

.expandedColumnOnMobile {
	display: in-line;

	@include breakpoint(medium) {
		display: none;
	}
}

.expandPressed {
	display: block;
}
