@import "../../../themes/colors.module";

.container {
	margin-top: 20px;
	margin-bottom: 100px;
	line-height: 1;
}

.titleFont {
	font-size: 80px;
	font-weight: bold;
}

.autoType {
	font-size: 80px;
	font-weight: lighter;
}

.blurb {
	text-align: left;
	margin-top: 50px;
	line-height: 1.6;
	color: $dimmerWhite;
}
