@import "../../../themes/colors.module";
@import "../../../themes/breakpoints";
.outerContainer {
	display: flex;
	justify-content: center;

	margin-bottom: 70px;
}
.container {
	text-align: center;
	max-width: 850px;
	margin-top: 40px;
	line-height: 1;

	@include breakpoint(medium) {
		margin-top: 20px;
	}
}

.titleFont {
	font-size: 80px;
	font-weight: bold;
}

.gradient {
	@extend .defaultBlueGradient;
}
.gradientDark {
	@extend .defaultDarkBlueGradient;
}

.autoType {
	display: none;
	font-size: 80px;
	font-weight: lighter;

	@media (prefers-reduced-motion: reduce) {
		display: none;
	}

	@include breakpoint(medium) {
		display: block;
	}
}

.backupAutoType {
	display: none;
	line-height: 0.6;
	font-size: 80px;
	font-weight: lighter;

	@media (prefers-reduced-motion: reduce) {
		display: block;
	}
}

.blurb {
	font-size: 18px;
	margin-top: 45px;
	line-height: 1.6;
	color: $darkGrey;

	@include breakpoint(medium) {
		margin-top: 75px;
	}
}
.blurbDark {
	color: $dimmerWhite;
}
