@import "../../../themes/breakpoints";

.container {
	display: flex;
	flex-direction: row;
}

.headshot {
	display: none;
	align-items: center;
	margin-bottom: 120px;

	@include breakpoint(medium) {
		display: flex;
	}
}
