@import "../../themes/breakpoints";

.pageContainer {
	min-height: 100vh;
}

.filterContainer {
	display: flex;
	justify-content: center;
}

.filters {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: 100%;

	@include breakpoint(small) {
		margin: 0 35px;
	}

	@include breakpoint(medium) {
		width: 750px;
	}

	@include breakpoint(large) {
		margin: 0 10px;
		width: 100%;
	}
}

.gridContainer {
	justify-content: center;
}
