@import "../../../themes/breakpoints";
@import "../../../themes/colors.module.scss";

.container {
	margin-top: 80px;
}

.dataContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.grouping {
	width: 100%;
	padding: 16px;

	@include breakpoint(small) {
		width: 50%;
	}

	@include breakpoint(medium) {
		width: 33.33%;
	}
}

.title {
	width: 200px;
	color: $defaultGreen;
}

.sentence {
    margin-bottom: 24px;
    color: $brightGrey;
}
