@import "../../../themes/colors.module";
@import "../../../themes/breakpoints";

.container {
	margin-top: 50px;

	@include breakpoint(small) {
		display: flex;
	}
}

.column {
	position: sticky;
	height: 100%;
	flex: 1;
}

.headingGap {
	margin-bottom: 34px;
}

.lineIcon {
	position: absolute;
	margin: 5px 0px 0px -16px;
	color: $defaultDarkBlue;
}

.workExpLineIcon {
	background-color: $lightBackground;
}

.workExpLineIconDark {
	background-color: $darkBackground;
}

.itemContainer {
	width: 100%;
	padding: 0px 50px 50px;
	border-left: 3px solid $defaultDarkBlue;
}

.itemContainer:last-child {
	@include breakpoint(small) {
		padding: 0px 50px 120px;
	}
}

.logo {
	height: 40;
	width: auto;
	line-height: 0;
}

.periodText {
	margin: -10px 0px 15px 0px;
}

.roles {
	margin-left: 25px;
}

.roleTitle {
	margin-top: 25px;
}

.rolePeriod {
	margin-top: -10px;
}
