.container {
	margin-top: 50px;
}

.column {
	flex: 1;
}

.heading {
	font-weight: bold;
	padding-bottom: 50px;
	margin-top: 150px;
}

.lineIcon {
	position: absolute;
	margin: 5px 0px 0px -16px;
	color: #1565c0;
}

.itemContainer {
	width: 100%;
	border-left: 3px solid #1565c0;
}

.logo {
	height: 40;
	width: auto;
	line-height: 0;
}

.title {
	margin-right: 5px;
	line-height: 1.5;
}

.periodText {
	margin: -10px 0px 15px 0px;
}

.roles {
	margin-left: 25px;
}

.roleTitle {
	margin-top: 25px;
}

.rolePeriod {
	margin-top: -10px;
}

/* Desktop - Mobile should be priority*/
@media (min-width: 800px) {
	.container {
		display: flex;
	}

	.lineIconDesktop {
		position: static;
		float: right;
		margin: 5px -16px 0px 0px;
		color: #1565c0;
	}

	.itemContainerDesktop {
		border-right: 3px solid #1565c0;
		border-left: none;
	}

	.logoDesktop {
		float: right;
		padding-right: 5px;
	}

	.title {
		padding-top: 70px;
		margin-right: 0px;
		line-height: normal;
	}

	.roleLocation {
		margin-right: 6px;
		margin-top: 5px;
	}

	.rolePeriodDesktop {
		margin-right: 6px;
		margin-top: -10px;
	}
}
