@import "../../../themes/breakpoints";
@import "../../../themes/colors.module";

.container {
	margin-top: 32px;
}

.gap {
	margin-top: 32px;
	cursor: pointer;
}

.cardContainer {
	width: 160px;
	height: 130px;
	box-shadow: $defaultShadow;
	transition: linear 400ms;

	@include breakpoint(small) {
		width: 210px;
		height: 180px;
	}

	&:hover,
	&:focus {
		background-color: $mediumGrey;
	}
}

.cardContent {
	all: unset;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	padding-top: 25px;

	@include breakpoint(small) {
		padding-top: 35px;
	}
}

.contactMethod {
	all: unset;
	width: 100%;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
	margin: 0 10px;

	@include breakpoint(small) {
		margin-top: 25px;
	}
}
.contactMethodDark {
	color: $defaultLightBlue;
}

.link {
	text-decoration: none;
}

.contactSubtitle {
	display: none;

	@include breakpoint(small) {
		display: inline;
		width: 100%;
		font-weight: regular;
		font-size: 11px;
		text-align: center;
	}
}
