@import "../../../themes/colors.module";
@import "../../../themes/breakpoints";

.headingGap {
	margin-bottom: 24px;
}

.cardContainer {
	width: 100%;
	box-shadow: $defaultShadow;
}

.heading {
	display: flex;
	justify-content: center;
}

.salaryNumber {
	text-align: center;
	margin-top: 40px;
	font-size: 40px;
	font-weight: bold;
	@extend .defaultBlueGradient;
}

.salaryCurrency {
	text-align: left;
	margin-top: 65px;
	font-weight: bolder;

	color: $defaultBlue;
}

.subHeading {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
}

.formGroup {
	@include breakpoint(small) {
		display: flex;
	}
}

.leftColumn {
	@include breakpoint(small) {
		flex: 1;
		margin-left: 50px;
	}
}

.rightColumn {
	flex: 1;
}

.clearAllContainer {
	display: flex;
	justify-content: center;
}

.clearAllButton {
	margin: 40px 0 10px 0;
	color: $defaultBlue;
	border-color: $defaultDarkBlue;
}

.gap {
	margin-top: 30px;
}
