@import "../../../themes/colors.module.scss";

.rowItem {
	padding-top: 12px;
	cursor: pointer;

	color: $darkGrey;

	&:hover {
		@extend .defaultGreenGradient;
	}
}
.rowItemDark {
	color: $dimmerWhite;
}
