$defaultLightBlue: #90caf9;
$defaultBlue: #42a5f5;
$defaultDarkBlue: #1565c0;

$defaultGreen: #66bb6a;
$defaultPurple: #ce93d8;
$defaultRed: #f44336;

$darkGrey: #212121;
$mediumGrey: #2e2e2e;
$brightGrey: #9c9c9c;

$white: #fff;
$dimmerWhite: #f2f2f2;

$lightBackground: #ffffff;
$darkBackground: #13181c;

.defaultLightBlue {
	color: $defaultLightBlue;
}
.defaultDarkBlue {
	color: $defaultDarkBlue;
}

.defaultGreen {
	color: $defaultGreen;
}
.defaultPurple {
	color: $defaultPurple;
}
.defaultRed {
	color: $defaultRed;
}

.brightGrey {
	color: $brightGrey;
}
