$defaultLightBlue: #90caf9;
$defaultBlue: #42a5f5;
$defaultDarkBlue: #1565c0;

$defaultGreen: #66bb6a;
$defaultPurple: #ce93d8;
$defaultRed: #f44336;
$defaultYellow: #ffeb3b;

$darkGrey: #212121;
$mediumGrey: #2e2e2e;
$brightGrey: #9c9c9c;

$white: #fff;
$dimmerWhite: #f2f2f2;

$lightBackground: #ffffff;
$darkBackground: #13181c;

$defaultShadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;

.defaultBlueGradient {
	background: linear-gradient(to bottom right, #3d4eb8, #1176d4);
	background-clip: $defaultDarkBlue;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.defaultDarkBlueGradient {
	background: linear-gradient(to bottom right, #2781e7, #90caf9);
	background-clip: $defaultDarkBlue;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.defaultPurpleGradient {
	background: linear-gradient(to bottom right, #cf32eb, #ce93d8);
	background-clip: $defaultPurple;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.defaultYellowGradient {
	background: linear-gradient(to bottom right, #f7df04, #fff48e);
	background-clip: $defaultYellow;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.defaultLightBlue {
	color: $defaultLightBlue;
}
.defaultDarkBlue {
	color: $defaultDarkBlue;
}

.defaultGreen {
	color: $defaultGreen;
}

.defaultPurple {
	color: $defaultPurple;
}

.defaultRed {
	color: $defaultRed;
}

.defaultYellow {
	color: $defaultYellow;
}

.brightGrey {
	color: $brightGrey;
}
