$defaultBlue: #90caf9;
$defaultDarkBlue: #1565c0;

$defaultGreen: #66bb6a;
$defaultPurple: #ce93d8;
$defaultRed: #f44336;

$darkGrey: #212121;
$mediumGrey: #2e2e2e;
$brightGrey: #9c9c9c;
$white: #fff;

.defaultBlue {
	color: $defaultBlue;
}
.defaultDarkBlue {
	color: $defaultDarkBlue;
}

.defaultGreen {
	color: $defaultGreen;
}
.defaultPurple {
	color: $defaultPurple;
}
.defaultRed {
	color: $defaultRed;
}
