@import "../../themes/colors.module";
@import "../../themes/breakpoints";

.sortContainer {
	display: flex;
	justify-content: right;
	padding: 10px 10px 0 0;
}

.yearHeading {
	display: inline-block;
	margin-left: 10px;
	padding-right: 15px;
	border-bottom: 2px solid $defaultYellow;
}

.year {
	margin-top: 0;
	color: $defaultYellow;
}

.title {
	margin-bottom: 0;
}

.upNextContainer {
	margin-top: 100px;
}
