@import "../../themes/colors.module";
@import "../../themes/breakpoints";

.sortContainer {
	display: flex;
	justify-content: right;
	padding: 10px 10px 0 0;
}

.yearHeading {
	display: inline-block;
	margin-left: 10px;
	padding-right: 15px;
	border-bottom: 2px solid $defaultYellow;
}

.year {
	margin-top: -10px;
	color: $defaultYellow;
}

.title {
	margin-bottom: 0;
}

.upNextContainer {
	margin-top: 100px;
}

.socialContainer {
	margin-top: 100px;
}

.gridContainer {
	justify-content: space-evenly;
}

.embeddedPost {
	margin: 0 0 30px 12px;
	display: flex;
	justify-content: center;
}

.reelWrapper {
	width: 450px;
	display: flex;
	justify-content: center;
}

.videoError {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 480px;
	width: 100%;
	border: 3px solid $mediumGrey;
	border-radius: 5px;
}

.backupLink {
	margin-top: -15px;
	color: $defaultBlue;
	cursor: pointer;
}
