@import "../../../themes/colors.module";
@import "../../../themes/breakpoints";

.container {
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: $darkGrey;
	box-shadow: $defaultShadow;
}

.hover {
	&:hover {
		background-color: $mediumGrey;
		transition: linear 400ms;
	}
}

.tab {
	font-size: 12px;

	@include breakpoint(medium) {
		font-size: 14px;
	}

	@extend .hover;
}

.tab:first-child {
	display: flex;
	flex-direction: column;
	min-width: 40px;
	padding: 0 15px;

	&::after {
		margin-top: 5px;
		content: "FVM";
	}

	@include breakpoint(medium) {
		&::after {
			margin-top: 5px;
			content: "FRANKLIN V MOON";
		}
	}
}

.darkModeToggle {
	display: flex;
	justify-content: right;
	border-radius: 0;

	padding-right: 10px;

	@include breakpoint(small) {
		margin-left: 60px;
		padding: 0 15px;
	}

	@include breakpoint(medium) {
		margin-left: 80px;
	}
}

.spacer {
	flex-grow: 1;
}

.iconDim {
	color: $brightGrey;
}

.iconBright {
	color: $white;
}

.colorDefault {
	color: $brightGrey;
}
