@import "../../../themes/colors.module";
@import "../../../themes/breakpoints";

.container {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: $darkGrey;
	box-shadow: $defaultShadow;

	position: fixed;
	top: 0;
	width: 100vw;
}

.behindNav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	font-size: 1px;
}

.hover {
	&:hover {
		background-color: $mediumGrey;
		transition: linear 500ms ease-in-out;
	}
}

.logotypeDesktopContainer {
	display: none;

	@include breakpoint(medium) {
		display: inline;
		padding-left: 25px;
		top: 24px;
		position: absolute;
		z-index: 3;
		display: flex;
		flex-direction: column;
	}
}

.logotypeMobileContainer {
	display: inline;
	padding-left: 15px;
	margin-top: 24px;
	z-index: 3;
	font-weight: bold;

	@include breakpoint(medium) {
		display: none;
	}

	position: fixed;
	top: 0;
}

.logotypeAlignDesktop {
	margin: -5px -3.5px -3.5px -3.5px;

	position: fixed;
	top: 0;
}

.logoFirst {
	margin-top: 18px;
}

.logoSecond {
	margin-top: 33px;
}

.logotypeGradientSize {
	font-size: 90%;
}

.logotypeText {
	color: $white;
	font-weight: bold;
}

.tab:first-child {
	display: flex;
	flex-direction: column;
	min-width: 2.5rem;
	padding: 0 0.9375rem;

	&::after {
		content: "PORTFOLIO";
	}

	@include breakpoint(medium) {
		&::after {
			content: "PORTFOLIO";
		}
	}
}

.visuallyHidden {
	position: absolute;
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	margin: -0.0625rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.darkModeToggle {
	display: flex;
	justify-content: right;
	border-radius: 0;
	cursor: pointer;
	padding-right: 0.625rem;
	margin-left: 0.9375rem;
	transition: ease-in-out 500ms;

	@include breakpoint(small) {
		padding: 0 0.9375rem;
	}

	@include breakpoint(medium) {
		margin-left: 4.375rem;
	}

	@include breakpoint(xLarge) {
		margin-left: 7.5rem;
	}

	@extend .hover;
}

.spacer {
	flex-grow: 1;
}

.iconDim,
.iconBright {
	all: unset;
	margin-top: 0.5rem;
}

.iconDim {
	color: $brightGrey;
}

.iconBright {
	color: $white;
}

.colorDefault {
	color: $brightGrey;
}
