.container {
	display: flex;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

.typography {
	font-weight: bold;
}

.lineContainer {
	position: relative;
	display: flex;
	justify-content: center;
}

.line {
	position: absolute;
	width: 150px;
	top: 2px;

	border-bottom: 5px solid #42a5f5;
	opacity: 0.2;
}

/* Desktop */
@media (min-width: 800px) {
	.line {
		left: -10%;
		width: 120%;
	}
}
