@import "../../../themes/colors.module";

.container {
	width: 350px;
	font-size: 20px;
}

.innerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 24px;
}

.title {
	text-align: center;
	font-weight: bold;
	color: $defaultDarkBlue;
}

.content {
	margin: 24px 20px;
}

.sentence {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}

.logo {
	margin-bottom: 24px;
}
