@import "../../themes/breakpoints";
@import "../../themes/colors.module";

.container {
	padding-bottom: 100px;

	@include breakpoint(small) {
		padding: 0px 100px 100px 100px;
	}
}

.title {
	font-size: 2rem;
	width: fit-content;
	padding: 0 100px 5px 0;
	margin: 5px;
	border-bottom: 2px solid $defaultBlue;
}

.image {
	padding: 0 50px;
}

.subTitleContainer {
	margin: 0 auto;
	margin-top: 35px;
	max-width: 850px;
}

.subTitle {
	color: $darkGrey;
	margin: 0 25px 15px 25px;
}

.subTitleDark {
	color: $dimmerWhite;
}
